.groupedTbl thead th.rounded-company {
background:#b9c9fe url(left.png) left -1px no-repeat;
}

.groupedTbl thead th.rounded-q4 {
background:#b9c9fe url(right.png) right -1px no-repeat;
}

.groupedTbl th {
font-weight:400;
font-size:13px;
color:#039;
background:#b9c9fe;
padding:8px;
}

.groupedTbl td {
background:#e8edff;
border-top:1px solid #fff;
color:#669;
padding:8px;
}

.groupedTbl tfoot td.rounded-foot-left {
background:#e8edff url(botleft.png) left bottom no-repeat;
}

.groupedTbl tfoot td.rounded-foot-right {
background:#e8edff url(botright.png) right bottom no-repeat;
}

.groupedTbl tbody tr:hover td {
background:#d0dafd;
}