<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=Database\chinook.db" providerName="System.Data.SqliteClient" />
		<add name="ConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Databases\Northwind.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="ConnectionString3" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Databases\AdventureWorksDW2008R2_Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="ConnectionString4" connectionString="Data Source=tcp:vmdevsql05,3415;Initial Catalog=projectbuild;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ConnectionString10" connectionString="Data Source=tcp:vmprdsql05,3415;Initial Catalog=dssScheduler;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=tcp:vmdevsql05,3415;Initial Catalog=BOEInventory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
		<add name="ReportConnection1" connectionString="Data Source=tcp:vmphdevsql,3415;Initial Catalog=DurhamPHDJan2018;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ConnectionString7" connectionString="Data Source=tcp:vmprdsql05,3415;Initial Catalog=DSSForm;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ConnectionString8" connectionString="Data Source=tcp:vmprdsql05,3415;Initial Catalog=cjrcCourtReminder;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ConnectionString9" connectionString="Data Source=tcp:vmprdsql05,3415;Initial Catalog=phInterpreter;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web> 
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>